// /**
 // *  LOADING BAR
 // *
 // *  Markup:
 // *  ---------
 // *  <div class="loading-bar"></div>
 // *
 // */

.loading-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 4px;
  overflow: hidden;
}

.loading-bar::before {
  position: absolute;
  left: -200px;
  display: block;
  width: 200px;
  height: 4px;
  content: "";
  background-color: $brand-primary;
  animation: loading-bar-loading 2s linear infinite;
}

@keyframes loading-bar-loading {
  from {
    left: -200px;
    width: 30%;
  }

  50% {
    width: 30%;
  }

  70% {
    width: 70%;
  }

  80% {
    left: 50%;
  }

  95% {
    left: 120%;
  }

  to {
    left: 100%;
  }
}

