//
// Text
//

// Alignment

.text-justify        { text-align: justify !important; }
.text-nowrap         { white-space: nowrap !important; }
.text-truncate       { @include text-truncate; }

// Responsive alignment

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    .text-#{$breakpoint}-left   { text-align: left !important; }
    .text-#{$breakpoint}-right  { text-align: right !important; }
    .text-#{$breakpoint}-center { text-align: center !important; }
  }
}

// Transformation

.text-lowercase      { text-transform: lowercase !important; }
.text-uppercase      { text-transform: uppercase !important; }
.text-capitalize     { text-transform: capitalize !important; }

// Weight and italics

.font-weight-normal  { font-weight: normal; }
.font-weight-bold    { font-weight: bold; }
.font-italic         { font-style: italic; }

// Contextual colors

@include text-emphasis-variant('.text-muted', $text-muted);

@include text-emphasis-variant('.text-primary', $brand-primary);

@include text-emphasis-variant('.text-success', $brand-success);

@include text-emphasis-variant('.text-info', $brand-info);

@include text-emphasis-variant('.text-warning', $brand-warning);

@include text-emphasis-variant('.text-danger', $brand-danger);

@include text-emphasis-variant('.text-dark-1', $brand-dark-1);
@include text-emphasis-variant('.text-dark-2', $brand-dark-2);
@include text-emphasis-variant('.text-grey-1', $brand-grey-1);
@include text-emphasis-variant('.text-blue-dark', $brand-blue-dark);
@include text-emphasis-variant('.text-greyblue', $brand-greyblue);
@include text-emphasis-variant('.text-greygold', $brand-greygold);
@include text-emphasis-variant('.text-browngrey', $brand-browngrey);
@include text-emphasis-variant('.text-purp', $brand-purp);
@include text-emphasis-variant('.text-yellow-grey', $brand-yellow-grey);
@include text-emphasis-variant('.text-tufte', $brand-tufte);
@include text-emphasis-variant('.text-greyblue-dark', $brand-greyblue-dark);
@include text-emphasis-variant('.text-yellow-light', $brand-yellow-light);


// Misc

.text-hide {
  @include text-hide();
}
